### 0 - Requirements

In [3]:
import pandas as pd

## 1 - Connect to Data

1.1 - Connect to CSV file

In [5]:
# import pandas as pd

# Load CSV file into a Pandas DataFrame
csv_file_path = '/content/sample_data/california_housing_test.csv'

df_csv = pd.read_csv(csv_file_path)

# Display first few rows of the dataframe
print(df_csv.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

1.2 - Connect to Excel File

In [8]:
# import pandas as pd

# Load Excel file into a Pandas DataFrame
excel_file_path = '/content/output_file.xlsx'

# You can specify the sheet_name or omit to load the first sheet
df_excel = pd.read_excel(excel_file_path, sheet_name='Sheet1')

# Display first few rows of the dataframe
print(df_excel.head())

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    London
3  Linda   32    Berlin

1.3 - Connect to JSON File

In [9]:
# import pandas as pd

# Load JSON file into a Pandas DataFrame
json_file_path = '/content/sample_data/anscombe.json'

df_json = pd.read_json(json_file_path)

# Display first few rows of the dataframe
print(df_json.head())

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

1.4 - Connect to PostgreSQL Database

In [ ]:
# import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Define your PostgreSQL database credentials
host = 'your_host'
dbname = 'your_database'
user = 'your_username'
password = 'your_password'
port = 'your_port'  # Default is usually 5432

# Create a connection using SQLAlchemy
connection_string = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}"
engine = create_engine(connection_string)

# Query the database and load it into a Pandas DataFrame
query = "SELECT * FROM your_table"
df_postgres = pd.read_sql(query, con=engine)

# Display first few rows of the dataframe
print(df_postgres.head())

### 2 - Basic Transformations

**2.1 - Remove columns**

**2.2 - Remove other columns**

**2.3 - Keep top rows**

Keep bottom rows

Keep range of rows

### 3. Transform Columns

### 4. Add Columns

Export to Excel

In [7]:
# Sample DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'London', 'Berlin']
}
df = pd.DataFrame(data)

# Export DataFrame to Excel
output_file_path = 'output_file.xlsx'
df.to_excel(output_file_path, sheet_name='Sheet1', index=False)  # index=False prevents adding row numbers

print(f"DataFrame has been exported to {output_file_path}")

DataFrame has been exported to output_file.xlsx